.jumbotron{
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #210D26;
    color: #F2F2F2;
}

.form-control{
    background-color: #F2F2F2;
    color: #04050D;
}